<!DOCTYPE html>
<html>
  <head>
    <title>Pig Latinizer!</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <p><%= @analyzed_phrase.ay_or_way.join(" ") %></p>
  </body>
</html>
